body {
  background-image: url('../img/poker-table.jpg');
}

h2 {
  color: white;
}

.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
  background-size: cover;

}

.covered {
  background-color: black;
}

.hand {
  overflow: auto;
}
